@use 'sass:map';

.item-swap-picker-root {
	display: grid;
	gap: var(--block-spacer);

	.input-item-swap-container {
		flex-wrap: wrap;
		gap: var(--block-spacer);
	}

	label {
		width: unset !important;
	}

	.picker-group {
		// Override a width: 100% from the default picker group
		width: unset;
		align-items: center;
		justify-content: flex-end;

		& > * {
			margin-bottom: 0 !important;
			margin-right: 0 !important;

			&:not(:first-child) {
				margin-left: var(--spacer-1);
			}
		}
	}
}
